:root {
  --lightblue: #B0FFFA;
  --darkblue: #00F7FF;
  --lightpink: #FF7DB0;
  --darkpink: #FF0087;
}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box; 
}





header {
  display: Flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 15px #00000008;
  background: #FFCDB2;
}
