:root {
  --background: #FDF4D2;
  --aboutcolor: #B0CDE6;
  --lightpink: #FF7DB0;
  --darkpink: #FF0087;
  --text: #946D6D;
  --footerbck: #A290B7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: aerial, sans-serif;
  background: var(--background);
  color: var(--text);
  line-height: 1.7;
  scroll-behavior: smooth;
}

header {
  padding: 18px 8%;
  display: Flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;   
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--text);

}

nav {
  gap: 25px;
  display: flex;
}  

nav a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
}

nav a:hover {
  color: var(--darkpink);
}

section {
  padding: 80px 18%;
}

#about {
  background: var(--aboutcolor);
  padding; 58px 8%;
}

.about-container {
  margin: auto;
  display: flex;
  max-width: 1140px;
  align: center;
  gap: 44px; 
}
.about-photo {
  flex: 0 0 34%:
  text-align: center;
  display: flex;
  flex-direction: column;

}
.photo-frame {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
}
.photo-frame img {
 max-width: 100%;
 max-height: 100%;
 display: block;
 object-fit: cover;
}
