:root {
  --background: #FBEFEF;
  --darkblue: #00F7FF;
  --lightpink: #FF7DB0;
  --darkpink: #FF0087;
  --text: #40343b;
}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: verdana, sans-serif;
  background: var(--background);
  color: var(--text);
  line-height: 1.7;
  scroll-behavior: smooth;
}

header {
  background: var(--lightpink);
  padding: 20px, 10%;
  display: Flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;   
}

.logo {
  font-size: 24px;
  font-weight: bold;

}
